<!doctype html>
<html>
<head>
    <title>{% block title %} Title goes here {% endblock %}</title>
</head>

<body>

    <!-- FLASH MESSAGING -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <a href="/logout">Logout</a>
    <hr>

    {% block content %} Your content here {% endblock %}
    
</body>
</html>